<script>
    $(document).ready(function() {
        $("#ocultame").hide();
        var on = true;
        var valorButton = $("#quepasa").text();
        var repeat = "ng-repeat-start";
        var filter = "dato in datos | filter: '" + valorButton + "'";
        $("#damefiltros").attr(repeat, filter);
        $("#quepasa").click(function() {
            if (on == false) {
                $("#ocultame").hide();
                on = true;
            } else {
                $("#ocultame").show();
                on = false;
            }
        });
    });

</script>

<div class="centrar">
    <text-panel></text-panel>
    <div ng-controller="buttonsOptions">
        <button id="quepasa">Política</button>
        <hr>
        <table>
            <tr>
                <td ng-repeat="dato in datos">
                    <botones myid="{{$index}}" padre="{{dato.tema}}" tipo="{{tiposBoton[$index]}}" data-ng-click="mifuncion()"></botones>
                </td>
            </tr>
        </table>
        <hr>
        <table id="ocultame">
            <tr id="damefiltros">
            </tr>
            <tr ng-repeat-end>
                <td ng-repeat="item in dato.items">
                    <botones padre="{{item.titulo}}" tipo="{{tiposBoton[$index]}}" data-ng-click="mifuncion('hola')"></botones>
                </td>
            </tr>
        </table>
    </div>
</div>
<next>
</next>
<skip></skip>
