<div class="panel-heading">
    <table>
        <tr>
            <td><img class="logo" src="/img/logo.jpg" /></td>
            <td>
                <div class="menuBar" role="group" aria-label="...">
                    <button ng-controller="sentimientoController" ng-click="irSentimiento()" type="button" class="btn btn-default">{{ nombre }}</button>
                    <button ng-controller="categoriasController" ng-click="irCategorias()" type="button" class="btn btn-default">{{ nombre }}</button>
                    <button ng-controller="entidadesController" ng-click="irEntidades()" type="button" class="btn btn-default">{{ nombre }}</button>
                    <button ng-controller="sentimiento2Controller" ng-click="irSentimiento()" type="button" class="btn btn-default">{{ nombre }}</button>
                    <button type="button" class="btn btn-default">Admin</button>
                    <button ng-controller="loginController" ng-click="irLogin()" type="button" class="btn btn-default">{{ nombre }}</button>
                </div>
            </td>
        </tr>
    </table>
</div>
